:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --background-color: #f8f9fa;
  --font-color: #333;
  --white: #ffffff;
  --shadow-light: 0 2px 8px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header Styling */
header {
  background: var(--primary-color);
  color: white;
  padding: 1rem;
}

/* Scanner View */
#scanner-view {
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 30px auto;
}

#reader {
  width: 100%;
  height: 450px;
  border: 5px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--shadow-light);
  box-sizing: border-box;
  overflow: hidden;
}

#result-view {
  display: none;
  padding: 25px;
  margin: 30px auto;
  width: 90%;
  max-width: 450px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: var(--shadow-light);
  border-top: 5px solid var(--secondary-color);
}
#reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Button Styling */
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#confirm-payment {
  background-color: var(--secondary-color);
  color: white;
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
  padding: 1rem;
  background: var(--background-color);
  color: #6c757d; /* Gray color */
  border-top: 1px solid #dee2e6;
}
